<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Распознавание</title>
 </head>
 <body>
 <div class="my-10">
 <table>
    <a href="/info">
        <button class="btn btn-light">Информация</button>
    </a>
    <a href="/">
        <button class="btn btn-secondary">Назад на главную</button>
    </a>
 </table>
</div>
<div class="form-group my-10" >
  <h5>{{ description }}</h5>
  <img src="{{url_for('static', filename='file_new.jpg')}}" class="img-thumbnail">
 </div>
 </body>
</html>